@import "~sass-rem";
:host {
  display: block;
}

.badge {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.8rem;
  background-color: var(--neutral-300);
  border: 0;
  border-radius: 4rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--text);
  font-weight: 400;
  &.small {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  &.info {
    background-color: #a4e8f2;
  }
  &.success {
    background-color: var(--success-100);
    color: var(--text-inverted);
  }
  &.attention {
    background-color: var(--warning-100);
  }
  &.critical {
    background-color: var(--secondary-400);
  }
  &.warning {
    background-color: var(--danger-100);
    color: var(--text-inverted);
  }
  &.new {
    background-color: var(--primary-100);
    color: var(--text-inverted);
  }

  .progress-wrapper {
    display: none;
    height: 1rem;
    width: 1rem;
    margin: 0 0.4rem 0 -0.3rem;
    border: 2px solid currentColor;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &.incomplete {
    .progress-wrapper {
      display: block;
    }
  }
  &.partiallyComplete {
    .progress-wrapper {
      display: block;
      background: linear-gradient(
        0deg,
        currentColor,
        currentColor 50%,
        transparent 0,
        transparent
      );
    }
  }
  &.complete {
    .progress-wrapper {
      display: block;
      background: currentColor;
    }
  }
}
