@import "~sass-rem";
:host {
  display: block;
}
.card {
  width: 100%;
  position: relative;

  padding: rem(24px);

  background-color: var(--neutral-100);
  box-shadow: rem(0px) rem(1px) rem(8px) rem(4px) var(--neutral-300);
  border-radius: rem(8px);

  .card-title,
  .card-footer {
    height: rem(26px);
    width: 100%;
    display: flex;
    align-items: center;
  }

  .card-footer {
    .card-footer-wrapper {
      margin-left: auto;
    }
  }

  .card-content {
    ol {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: rem(8px) 0;
        padding: 0;
        padding-bottom: rem(4px);
        width: 100%;
        list-style: none;
        overflow: hidden;
        border-bottom: 1px solid rgba(64, 64, 64, 0.15);
        &:last-child {
          border: none;
        }
        .card-section-content {
          padding: rem(4px) 0;
        }
      }
    }
  }
}
